#loading-wrapper{
    height: 100vh;

}

#loading-form{
    height: 400px;
    position: relative;
}

#loading-tabs{
    background-color: white;
    height: 80px;
    position: relative;
}

#loading-products{
    height: 300px;
    background-color: white;
    position: relative;
}

#products{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    position: relative;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #c2c9d2;
}